<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target
		  xsi:type="Database"
		  name="database"
		  keepConnection="true"
		  dbProvider="System.Data.SqlClient"
		  commandType="Text">
			<connectionString>
				Server=localhost, 1433;Database=TraceabilityDB;User ID=SA;Password=1q2w3e4r+!;TrustServerCertificate=True
			</connectionString>
			<commandText>
				INSERT INTO TraceabilityLogs
				(EventDateTime,
				EventLevel,
				CorrelationId,
				MachineName,
				EventMessage,
				ErrorSource,
				ErrorClass,
				ErrorMethod,
				ErrorMessage,
				InnerErrorMessage)
				VALUES
				(@EventDateTime,
				@EventLevel,
				@CorrelationId,
				@MachineName,
				@EventMessage,
				@ErrorSource,
				@ErrorClass,
				@ErrorMethod,
				@ErrorMessage,
				@InnerErrorMessage)
			</commandText>

			<!-- parameters for the command -->
			<parameter name="@EventDateTime" layout="${date:s}" />
			<parameter name="@EventLevel" layout="${level}" />
			<parameter name="@CorrelationId" layout="${activityid}"/>
			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@EventMessage" layout="${message}" />
			<parameter name="@ErrorSource" layout="${event-context:item=error-source}" />
			<parameter name="@ErrorClass" layout="${event-context:item=error-class}" />
			<parameter name="@ErrorMethod" layout="${event-context:item=error-method}" />
			<parameter name="@ErrorMessage" layout="${event-context:item=error-message}" />
			<parameter name="@InnerErrorMessage" layout="${event-context:item=inner-error-message}" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Debug" writeTo="database" />
	</rules>
</nlog>
